services:
  cardex-frontend:
    image: ghcr.io/subhashyadavon/cardex-frontend:latest
    build:
      context: .
      dockerfile: CarDexFrontend/Dockerfile
    container_name: cardex-frontend-prod
    ports:
      - "80:80"
    depends_on:
      - cardex-api
    restart: always
    networks:
      - cardex-prod-network

  cardex-api:
    image: ghcr.io/subhashyadavon/cardex-backend:latest
    build:
      context: .
      dockerfile: CarDexBackend/CarDexBackend.Api/Dockerfile
    container_name: cardex-api-prod
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      # you will have to have this in your .env file
      - ConnectionStrings__CarDexDatabase=${SUPABASE_CONNECTION_STRING}
      - Jwt__SecretKey=${JWT_SECRET_KEY}
    restart: always
    networks:
      - cardex-prod-network

networks:
  cardex-prod-network:
    driver: bridge
