/* INPUT WRAPPER */

.inputWrapper
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

/* LABEL */
/* 
.label
{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--content-primary);
  letter-spacing: 0.02em;
} */

.required {
  color: #ff6b6b;
  margin-left: 4px;
}

/* INPUT CONTAINER */

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

/* INPUT BASICS */

.input
{
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--content-primary);
  background: var(--block-secondary);
  transition: all 0.2s ease;
  outline: none;
}
.input::placeholder
{
  color: var(--color-white-50);
}
.input:hover:not(:disabled)
{
  background: var(--color-white-50);
}
.input:focus
{
  border-color: var(--gradient-light1);
  background: var(--color-white-8);
  box-shadow: 0 0 0 3px var(--color-white-8);
}
.input:disabled
{
  opacity: 0.5;
  cursor: not-allowed;
}

/* SIZE VARIANTS */

/* > Regular Size */
.regular
{
  height: 36px;
  padding: 8px 12px;
  font-size: 14px;
}
.regular.hasIcon
{
  padding-left: 40px;
}

/* > Large Size */
.large
{
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
}
.large.hasIcon
{
  padding-left: 48px;
}

/* ERROR STATE */

.error, .error:focus
{
  border-color: var(--color-error);
}

.errorMessage
{
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: var(--color-error);
  font-weight: 400;
}

/* ICON */

.icon
{
  position: absolute;
  left: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--color-white-50);
  pointer-events: none;
  line-height: 1;
}

.large.icon
{
  left: 14px;
  font-size: 20px;
}