
html,body,#root{height:100%}
body{margin:0; font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; background:#1f0f0f;}

:root{
  --gradient-light1:#E01F5F; --gradient-light2:#E05720;
  --gradient-dark1:#381010;  --gradient-dark2:#2C1818;
  --content-primary:#FFD8D7; --content-secondary:#A37271;
  --block-primary:#2B0202;   --block-secondary:#5D2B2A; --block-tertiary:#180303;

  --display-lg:28px; --h1:24px; --h2:22px; --h3:18px;
  --b1:16px; --b2:14px; --card-1:20px; --card-2:16px; --card-3:10px;
}
