name: Database CI

on:
  push:
    paths:
      - 'CarDexDatabase/**'
  pull_request:
    paths:
      - 'CarDexDatabase/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.414

      - name: Restore dependencies
        run: dotnet restore CarDexDatabase/CarDexDatabase.sln

      - name: Build
        run: dotnet build CarDexDatabase/CarDexDatabase.sln --configuration Release --no-restore


